.CreateAccountBody{
background-color: #0599ad;
min-height: 100vh;
}

.welcome {
  /* WELCOME! */
  position: absolute;
  width: 190px;
  height: 52px;
  left: calc(50% - 190px / 2);
  top: calc(50% - 52px / 2 - 171px);

  text-align: center;
  font-family: "Kite One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  /* identical to box height */
  color: #0599ad;
}

.input-container {
  justify-content: center;
  align-items: center;
}

.input-user {
  /* Rectangle 6 */

  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 40px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 40px / 2 - 98px);

  background: #ffffff;
  border: 1px solid #c4bdbd;
  border-radius: 5px;
}

.input-user::placeholder {
  position: absolute;
  width: 78px;
  height: 19px;
  left: 501px;
  top: 292px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  color: #C5BFBF;
}
.input-password {
  /* Rectangle 7 */

  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 40px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 40px / 2 - 31px);

  background: #ffffff;
  border: 1px solid #c4bdbd;
  border-radius: 5px;
}
.input-password::placeholder {
position: absolute;
width: 74px;
height: 19px;
left: 501px;
top: 359px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #C5BFBF;
}

.input-confirm {
  /* Rectangle 9 */

  box-sizing: border-box;

  position: absolute;
  width: 300px;
  height: 40px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 40px / 2 + 36px);

  background: #ffffff;
  border: 1px solid #c4bdbd;
  border-radius: 5px;
}
.input-confirm::placeholder {
  position: absolute;
  width: 139px;
  height: 19px;
  left: 501px;
  top: 426px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  color: #C5BFBF;
}

.button-container {
  /* Rectangle 3 */

  position: absolute;
  width: 300px;
  height: 40px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 40px / 2 + 103px);

  background: #4075ff;
  border-radius: 10px;

  /* Sign up button  */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.login-form {
  /* Rectangle 8 */
  position: absolute;
  width: 400px;
  height: 500px;
  left: calc(50% - 400px / 2);
  top: calc(50% - 500px / 2);
  background: #ffffff;
}

.account {
  /* Have an account? */
  position: absolute;
  width: 134px;
  height: 20px;
  left: calc(50% - 134px / 2 - 83px);
  top: calc(50% - 20px / 2 + 183px);

  font-family: "Inder";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}

.login-link {
  /* LOG IN */

  position: absolute;
  width: 51px;
  height: 20px;
  left: calc(50% - 51px / 2 + 19.5px);
  top: calc(50% - 20px / 2 + 183px);

  font-family: "Inder";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #4075ff;
}
