.wholepage {
    background-image: url('../../images/backgroundForExercise.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.container {
    background-position: top; 
    background-size: cover; 
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
}

.searchbar {
    width: 100%;
    max-width: 700px;
    background: rgba(17,204,68,0.4);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.searchbar input {
    font-size: 20px;
    flex: 1;
    border: 0;
    padding: 24px 20px;
    background: transparent;
    color: white;
    outline: none;
}

::placeholder {
    color: white;
}
 
.searchbar button{
    background-image: url("../../images/searchIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 50%;
}

.imagescollect {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pad {
    border: 5px solid white;
    padding: 40px;
    background-color: rgba(17,204,68,0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
