.MentalHealthPage {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #3474e6;
}

.MentalHealthPage p {
    font-size: 1.5vw;
}

.MentalImage {
    max-width: 100%;
    width: 40%;
    height: 80%;
    border: 3px solid; 
    border-image: linear-gradient(45deg, purple, orange) 1;
}

.Theh1sh2s {
    margin-bottom: 10px;
    font-size: 2.5vw;
}

/*
.MentalContainer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
*/
.MentalHeader {
    background-image: url("../../images/MentalHealthBottom.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3474e6; /* 0151cc*/  /* #3474e6*/
    color: #fff;
    height: 60vh;
}
  
.MentalHeader h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    color: white;
    font-size: 4vw;
}
  
.MentalHeader img {
    max-width: 400px;
}
  
.MentalHeader .MentalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50vh;

}

/* Bottom half of the page ----------------------------------------------------------------------------------------------------*/
.MentalBoxes {
    background-color:  #0a51cc;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}
  
.MentalBoxes .MentalBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    
.MentalBox {
    width: 22%;
    background: #3474e6; /* #0a51cc*/
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px; 
    text-align: center;
    cursor: pointer;
}

.MentalBox img {
    height: 60%;
    width: 60%;
}

#JournalTitle {
    font-size: 2.5vw;
}

.MentalBox a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}