.selected-nav-tab {
  font-weight: bold;
}

.side-nav-bar {
  background-color: rgb(65, 67, 64);
  height: 100vh;
}

.side-nav-bar .row a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  text-align: center;
}
