.OverviewBody {
    background-color: #0599ad;
    min-height: 100vh;
  }

  .triangle-image img {
    position: fixed;
    width: 350px;
    height: 300px;
    top: 18%;
    right: 14%;
  }
  
  .edit_button {
    border: none;
    outline: none;
    display: inline-block;
    width: 200px;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #0628e7, #70c2d3);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: white;
    font-weight: 700;
    cursor: pointer;
    position: fixed;
    bottom: 10%;
    left: 46%;
  }
.input-boxers
{
  visibility: visible;
}