@import url("https://fonts.googleapis.com/css?family=Ubuntu");

.profile {
  font-family: "Ubuntu";
  background-color: #87cefe;
  color: #0000ee;
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
}

.profile {
  color: white;

}

.profileGrid {
  box-sizing: border-box;
  font-size: 30px;
  padding: 1rem;
}

.profile-body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.body-box {
  color:black;
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
  height: fit-content;
  background-color: white;
  padding:1rem;

  display: flex;
  flex-direction: column;
}

.banner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-color: gray;
  padding: 1rem;
  gap: 1rem;
}

.banner-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

.banner-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%
}

.username {
  font-size: 1.5rem;
}

.user-stats {
  display: flex;
  justify-content: space-between;
}

.user-icon {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.edit-icon {
  height: 24px;
  weight: 24px;
  background-color: skyblueÍ;
}

.edit {
  border: none;
  outline: none;
  display: inline-block;
  width: 200px;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #0628e7, #70c2d3);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
  position: fixed;
  top: 5%;
  right: 5%;
}

.edit:hover {
  background-image: linear-gradient(to right, #021791, #70c2d9);
}