* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Great font for search engine*/
    font-family: "Poppins", sans-serif;
    background-image: url("../../images/backgroundForRecipe.png"); 
    background-repeat: no-repeat;
    background-size: cover;
}


/* This is the whole container for the search bar*/
.container {
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    width: 100%;
    max-width: 700px;
    background: rgba(17,204,68,0.4);
    /* Time to use what I learned about flex box*/
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.searchbar input {
    font-size: 20px;
    flex: 1;
    border: 0;
    padding: 24px 20px;
    background: transparent;
    color: white;
    outline: none;
}

::placeholder {
    color: white;
}
 
.searchbar button{
    background-image: url("../../images/searchIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    background-color: white;
    /* Just to make the search icon a circle*/
    border-radius: 50%;
}