.wholepagetwo {
    background-image: url('../../images/backgroundForRecipe.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.containertwo {
    background-position: top; 
    background-size: cover; 
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.searchbartwo {
    width: 100%;
    max-width: 700px;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.searchbartwo input {
    font-size: 20px;
    flex: 1;
    border: 0;
    padding: 24px 20px;
    background: transparent;
    color: white;
    outline: none;
}

::placeholder {
    color: white;
}
 
.searchbartwo button{
    background-image: url("../../images/searchIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 50%;
}
